
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Money02.Models.AccountBook


<h2>Account List</h2>

<div>
    @Html.ActionLink("Create Item", "Create")
</div>

@Html.Action("ShowMoneyList")

<div>
    @Html.ActionLink("Create Item", "Create")
</div>
